<table cellPadding="0" cellSpacing="0" class="table">
  <thead class="table__head">
    <tr class="table__head-row">
      <th class="table__head-col">Username</th>
      <th class="table__head-col">First Name</th>
      <th class="table__head-col">Last Name</th>
      <th class="table__head-col">Email</th>
      <th class="table__head-col">Type</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let item of items" class="table__body-row" (click)="changeRow.emit(item.id)">
      <td class="table__body-col">{{ item.username }}</td>
      <td class="table__body-col">{{ item.firstname}}</td>
      <td class="table__body-col">{{ item.lastname}}</td>
      <td class="table__body-col">{{ item.email}}</td>
      <td class="table__body-col">{{ item.userType }}</td>
    </tr>
  </tbody>
</table>